<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>
  <appender name="uiAppender" class="com.wzdxt.texas.application.UiAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
  </appender>


  <logger name="org.springframework" level="INFO"/>
  <logger name="com.wzdxt.texas" level="DEBUG">
    <appender-ref ref="uiAppender"/>
    <!--<appender-ref ref="CONSOLE"/>-->
  </logger>

</configuration>